---
import { getCollection } from "astro:content";
const bios = await getCollection("bios");

import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import "../styles/global.css";

const pageTitle = "Meet the team";
---

<Base pageTitle={pageTitle} heading={pageTitle}>
    {
      bios.map((bio) => (
        <div class="flex items-center p-4 m-4 bg-gray-200 rounded-2xl">
            <Image
              src={bio.data.photo}
              alt={`Bio picture for ${bio.data.firstname}`}
              class="h-48 mr-4 w-auto rounded-xl"
            />
            <div>
            <h2 class="mb-2 text-xl">
              {bio.data.firstname} {bio.data.lastname}
            </h2>
          <p>{bio.body}</p>
          </div>
        </div>
      ))
    }
</Base>
