---
import { Image } from "astro:assets";
const { bio } = Astro.props;
---

<div class="items-start p-4 mb-4 bg-gray-200 min-h-56 rounded-2xl">
  <Image
    src={bio.data.photo}
    alt={`Bio picture for ${bio.data.firstname}`}
    class="float-left justify-center h-48 mr-4 w-auto rounded-xl"
  />
    <h2 class="mt-2 md:mt-0 text-xl">
      {`${bio.data.firstname} ${bio.data.lastname}`}
    </h2>
    <h3 class="mb-2">{`${bio.data.affiliation}`}</h3>
    <p class="text-justify">{bio.body}</p>
</div>
